* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    z-index: 10000;
}

.navbar.bg-info {
    background-color: rgb(49, 83, 121)!important;
}

body {
    max-width: 100vw;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

p {
    padding: 0 1em;
}

h6 {
    font-weight: 400;
}

header {
    background-image: url(./header.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2em;
    background-position: 35% 50%;
    width: 100vw;
    height: 70vh;
}

.title-title {
    width: 100vw;
    height: 57vh;
    display: flex;
    align-items: flex-end;
}

.title {
    margin-bottom: 3em;
    width: 80vw;
}

.title h1,
.title h2 {
    font-size: 1.5em;
    color: rgb(44, 44, 44);
    margin-left: 0.6em;
}

.title h2 {
    color: rgb(134, 134, 134);
    font-weight: 300;
}

.contact {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.contact a {
    font-size: 0.8em;
    color: rgb(49, 83, 121);
    padding-left: 0.6em;
}

.selected {
    background-color: rgb(175, 161, 33);
    color: whitesmoke;
    padding: 0.1em;
    border-radius: 2px;
}

.about {
    color: whitesmoke;
    background-color: rgb(80, 110, 145);
    padding-bottom: .05em;
}

.about-title {
    margin-bottom: 1em;
}

.alma {
    color: white;
    transition: 0.2s;
}

.alma:active,
.alma:hover {
    background-color: rgb(175, 160, 30);
    color: whitesmoke;
    border-radius: 2px;
    text-decoration: none;
}

.interests {
    background-color: whitesmoke;
    color: rgb(80, 110, 145);
}

.interests h1 {
    color: rgb(175, 160, 30);
}

.interests h6 {
    color: rgb(175, 160, 30);
}

.interests p {
    text-align: justify;
}

.interests img {
    opacity: 0.6;
}

.education {
    color: rgb(49, 83, 121);
    background-color: rgb(179, 175, 139);
}

.education h4 {
    color: rgb(49, 83, 121);
}

.experience {}

.skills {
    background-color: pink;
}

.certificates {}

.jobs {}


/*#cursos {
    background-image: url(images/cursos.jpg);
    border-radius: 4px 4px;
}*/