* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    opacity: 0.87;
    z-index: 1;
    width: 100vw;
}

body {
    font-size: 1.2em;
}

header {
    background-image: url(./header.png);
    background-repeat: no-repeat;
    margin-top: 2em;
    background-position: 35% 50%;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: rgb(44, 44, 44);
    margin-left: 0.5em;
}

.title h2 {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 2em;
    font-weight: 300;
    margin-left: 0.5em;
}

.selected {
    background-color: #25857b;
    color: whitesmoke;
    padding: 0.1em;
    border-radius: 2px;
}

#formacao {
    background-image: url("./images/formacao.jpg");
    border-radius: 4px 4px;
}

#habilidades {
    background-image: url(/images/cursos.jpg);
}

#whatsapp {
    color: rgb(184, 184, 184);
    position: fixed;
    top: 88%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

#email {
    color: rgb(184, 184, 184);
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

#github {
    color: rgb(184, 184, 184);
    position: fixed;
    top: 76%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

#linkedin {
    color: rgb(184, 184, 184);
    position: fixed;
    top: 70%;
    right: 1%;
    padding: 10px;
    z-index: 10000000
}


/*#cursos {
    background-image: url(images/cursos.jpg);
    border-radius: 4px 4px;
}*/